.box-button {
  background-color: $green-lt;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  border: 1px solid $green-dk;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: 250px;
  @media screen and (min-width: $break-lg) {
    width: 100px;
  }
}

.box-button:hover {
  background-color: $green-dk;
  cursor: pointer;
}

ul {
  list-style: none;
  float: left;
  @media screen and (max-width: $break-sm) {
    display: none;
  }
}

li {
  display: inline;
  margin-left: 20px;
}

li:nth-child(3) {
  margin-right: 15px;
}

li:hover {
  color: $yellow-lt;
  cursor: pointer;
}

h3 {
  margin-left: 15px;
}
